<section class="footer container">
  <div class="footer__content" data-aos="fade-up" data-aos-duration="3000">
    <div class="footer__list-connect">
      <ul class="footer__items">
        <li class="footer__item">
          <a class="logo" href="#"
            ><img
              class="nav__logo"
              src="./images/png/logo.png"
              width="34"
              height="34"
              alt="logo"
            />Zone.</a
          >
        </li>
        <li class="footer__item">
          <a
            class="contacts__link"
            href="mailto:info@devstudio.com"
            aria-label="link to location"
          >
            <svg class="contacts__icon" width="20" height="20">
              <use
                class="footer__icon"
                href="./images/svg/icons.svg#location"
              ></use>
            </svg>
            Dhaka, Bangladesh
          </a>
        </li>
        <li class="footer__item">
          <a
            class="contacts__link"
            href="mailto:info@devstudio.com"
            aria-label="link to mail"
          >
            <svg class="contacts__icon" width="20" height="20">
              <use
                class="footer__icon"
                href="./images/svg/icons.svg#phone"
              ></use>
            </svg>
            094 383 33 99
          </a>
        </li>
        <li class="footer__item">
          <a
            class="contacts__link"
            href="mailto:info@devstudio.com"
            aria-label="link to mail"
          >
            <svg class="contacts__icon" width="20" height="20">
              <use
                class="footer__icon"
                href="./images/svg/icons.svg#mail"
              ></use>
            </svg>
            info@devstudio.com
          </a>
        </li>
      </ul>
      <div class="footer__social">
        <ul class="footer__social-item">
          <li class="footer__social-items">
            <a
              class="footer__social-link"
              href="#"
              target="_blank"
              aria-label="link to Facebook"
            >
              <svg class="social__icon" width="32" height="32">
                <use
                  class="social__icon--svg"
                  href="./images/svg/icons.svg#facebook"
                ></use>
              </svg>
            </a>
          </li>

          <li class="footer__social-items">
            <a
              class="footer__social-link"
              href="#"
              target="_blank"
              aria-label="link to twitter"
            >
              <svg class="social__icon" width="32" height="32">
                <use
                  class="social__icon--svg"
                  href="./images/svg/icons.svg#twitter"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-items">
            <a
              class="footer__social-link"
              href="#"
              target="_blank"
              aria-label="link to instagram"
            >
              <svg class="social__icon" width="32" height="32">
                <use
                  class="social__icon--svg"
                  href="./images/svg/icons.svg#instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-items">
            <a
              class="footer__social-link"
              href="#"
              target="_blank"
              aria-label="link to pinterest"
            >
              <svg class="social__icon" width="32" height="32">
                <use
                  class="social__icon--svg"
                  href="./images/svg/icons.svg#pinterest"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--//=================  =================//-->
    <div class="footer__list-service">
      <ul class="footer__items">
        <li class="footer__item"><b class="span">Service</b></li>
        <li class="footer__item">
          <a class="footer__link" href="#order" target="">Order Management</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#social" target="">Social Assistant</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" class="footer__link" href="#crypto" target=""
            >Crypto Platform</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#analyzer" target=""
            >Analyzer of the News</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__list-company">
      <ul class="footer__items">
        <li class="footer__item"><b class="span">Company</b></li>
        <li class="footer__item">
          <a class="footer__link" href="#order" target="">About Us</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#social" target="">News</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#crypto" target=""
            >Our trusted partner</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#analyzer" target="">New users FAQ</a>
        </li>
      </ul>
    </div>
    <div class="footer__list-supports">
      <ul class="footer__items">
        <li class="footer__item"><b class="span">Supports</b></li>
        <li class="footer__item">
          <a class="footer__link" href="#order" target="">Help center</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#social" target="">Feedbcak</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#crypto" target="">Contact us</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#analyzer" target="">Terms conditins</a>
        </li>
      </ul>
    </div>
    <div class="footer__list-resources">
      <ul class="footer__items">
        <li class="footer__item"><b class="span">Resources</b></li>
        <li class="footer__item">
          <a class="footer__link" href="#order" target="">Download app</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#social" target="">Blog</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#crypto" target="">What’s new</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#analyzer" target="">Sitemap</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="line container"></div>
  <div class="footer__copyright">
    <p class="copyright__title">© 2023 Zone. - All rights reserved.</p>
    <ul class="copyright__list">
      <li>
        <a href="#" class="copyright__item">Privacy</a>
      </li>
      <li>
        <a href="#" class="copyright__item">Security</a>
      </li>
      <li>
        <a href="#" class="copyright__item">Terms</a>
      </li>
    </ul>
  </div>
</section>
