<section class="header container">
  <div
    class="nav__bar"
    data-aos="fade-down"
    data-aos-anchor="#example-anchor"
    data-aos-offset="1000"
    data-aos-duration="1000"
  >
    <div>
      <a class="logo" href="#"
        ><img
          class="nav__logo"
          src="./images/png/logo.png"
          width="34"
          height="34"
          alt="logo"
        />Zone.</a
      >
    </div>
    <div class="nav__link">
      <ul class="nav__link">
        <li class="nav__link-item">Home</li>
        <li class="nav__link-item">About Us</li>
        <li class="nav__link-item">Service</li>
        <li class="nav__link-item">Pricing</li>
        <li class="nav__link-item">Blog</li>
      </ul>

      <button class="btn nav" type="button">
        Contact Us
        <a href="#" class=""></a>
      </button>
    </div>
  </div>
</section>
