<section class="container">
  <div class="hero__box">
    <div class="hero__content">
      <h1 class="hero__title">Virtual Reality Business Solutions</h1>
      <p class="hero__description">
        We have over 15 year exprience in business consultting arena. We have
        over 15 year exprience in business consultting arena and artficial
        intelligence.
      </p>

      <div class="hero__link">
        <button class="btn link" type="button">Join Us</button>
        <!--//============== / / / ==============//-->

        <button class="btn play" type="play">
          <svg class="svg" width="30" height="30">
            <use href="./images/svg/icons.svg#play"></use>
          </svg>
          Watch video
        </button>
        <!--//============== / / / ==============//-->
      </div>
    </div>
    <div class="hero__img">
      <img class="" src="./images/png/hero.png" alt="hero image" />
    </div>
  </div>
</section>
