<section class="container">
  <div class="hero__box">
    <div class="hero__content">
      <h1
        class="hero__title"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="300"
        data-aos-offset="0"
      >
        Virtual Reality Business Solutions
      </h1>
      <p
        class="hero__description"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        We have over 15 year exprience in business consultting arena. We have
        over 15 year exprience in business consultting arena and artficial
        intelligence.
      </p>

      <div
        class="hero__link"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <button class="btn link" type="button">Join Us</button>
        <!--//============== / / / ==============//-->

        <button
          class="btn play"
          type="play"
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
        >
          <svg class="svg" width="30" height="30">
            <use href="./images/svg/icons.svg#play"></use>
          </svg>
          Watch video
        </button>
        <!--//============== / / / ==============//-->
      </div>
    </div>
    <div
      class="hero__img"
      data-aos="fade-left"
      data-aos-anchor="#example-anchor"
      data-aos-offset="900"
      data-aos-duration="900"
    >
      <img class="" src="./images/png/hero.png" alt="hero image" />
    </div>
  </div>
</section>
