<section class="main container">
  <div
    class="main__info"
    data-aos="fade-up"
     data-aos-duration="3000""
  >
    <h2 class="main__title">Our Service</h2>
    <p class="main__title-description">
      We turn information into actionable insights We work to understand your
      issues and are driven to ask better questions in the pursuit of making
      work.
    </p>
  </div>

  <div class="main__content">
    <ul class="service__list">
      <li
        id="order"
        class="service__item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div class="service__icon one">
          <svg class="" width="38" height="38">
            <use href="./images/svg/icons.svg#order"></use>
          </svg>
        </div>
        <div class="sevice__txt">
          <h3 class="service__title">Order Management</h3>
          <p class="service__description order">
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
        </div>

        <div class="sevice__btn">
          <a class="sevice__link" href="#">Learn more</a>
          <svg class="svg__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </li>
      <li
        id="social"
        class="service__item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div class="service__icon two">
          <svg class="" width="38" height="38">
            <use href="./images/svg/icons.svg#social"></use>
          </svg>
        </div>
        <div class="sevice__txt">
          <h3 class="service__title social">Social Assistant</h3>
          <p class="service__description">
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
        </div>

        <div class="sevice__btn">
          <a class="sevice__link" href="#">Learn more</a>
          <svg class="svg__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </li>
      <li
        id="crypto"
        class="service__item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div class="service__icon three">
          <svg class="" width="38" height="38">
            <use href="./images/svg/icons.svg#crypto"></use>
          </svg>
        </div>
        <div class="sevice__txt">
          <h3 class="service__title crypto">Crypto Platform</h3>
          <p class="service__description">
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
        </div>

        <div class="sevice__btn">
          <a class="sevice__link" href="#">Learn more</a>
          <svg class="svg__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </li>
      <li
        id="smart"
        class="service__item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div class="service__icon four">
          <svg class="" width="38" height="38">
            <use href="./images/svg/icons.svg#smart"></use>
          </svg>
        </div>
        <div class="sevice__txt">
          <h3 class="service__title smart">Smart Trading Modules</h3>
          <p class="service__description">
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
        </div>

        <div class="sevice__btn">
          <a class="sevice__link" href="#">Learn more</a>
          <svg class="svg__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </li>
      <li
        id="analyzer"
        class="service__item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div class="service__icon five">
          <svg class="" width="38" height="38">
            <use href="./images/svg/icons.svg#analyzer"></use>
          </svg>
        </div>
        <div class="sevice__txt">
          <h3 class="service__title analyzer">Analyzer of the News</h3>
          <p class="service__description">
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
        </div>

        <div class="sevice__btn">
          <a class="sevice__link" href="#">Learn more</a>
          <svg class="svg__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </li>
      <li
        id="module"
        class="service__item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div class="service__icon six">
          <svg class="" width="38" height="38">
            <use href="./images/svg/icons.svg#module"></use>
          </svg>
        </div>
        <div class="sevice__txt">
          <h3 class="service__title module">Module of Price Notification</h3>
          <p class="service__description">
            Lorem ipsum dolor sit amet, consectetur the adipiscing elit. Sed
            quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.
          </p>
        </div>

        <div class="sevice__btn">
          <a class="sevice__link" href="#">Learn more</a>
          <svg class="svg__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
