<section class="project container">
  <div class="project__box">
    <!--//============== / / / ==============//-->
    <div>
      <div class="project__one">
        <div class="project__img">
          <img
            class="pjct__img"
            src="./images/png/main-one.png"
            alt="pjct image "
          />
        </div>
        <div class="project__content">
          <h3 class="project__title">
            We complete every projects extra care as customer need
          </h3>
          <p class="project__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at
            dictum risus, non suscipit arcu. Quisque aliquam posuere tortor, sit
            amet convallis nuncoe scelerisque in. orem ipsum dolor sit amet,
            consectetur adipisicing elit. Labore eius molestiae facere, natus
            reprehenderit eaque eum, autem ipsam. Magfini, error. Tempora odit
            laborum iure inventore possimus laboriosam qui nam.
          </p>

          <div class="project__link">
            <button class="btn pjct" type="button">Read more</button>

            <!--//============== / / / ==============//-->
          </div>
        </div>
      </div>
    </div>
    <!--//============== / / / ==============//-->

    <div class="project__two">
      <div class="project__content">
        <h3 class="project__title">
          We complete every project extra care as customer need
        </h3>
        <p class="project__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at
          dictum risus, non suscipit arcu. Quisque aliquam posuere tortor, sit
          amet convallis nuncoe scelerisque in. orem ipsum dolor sit amet,
          consectetur adipisicing elit. Labore eius molestiae facere, natus
          reprehenderit eaque eum, autem ipsam. Magfini, error. Tempora odit
          laborum iure inventore possimus laboriosam qui nam.
        </p>

        <div class="project__link">
          <button class="btn pjct" type="button">Read more</button>

          <!--//============== / / / ==============//-->
        </div>
      </div>
      <div class="project__img">
        <img class="" src="./images/png/main-two.png" alt="pjct image" />
      </div>
    </div>

    <!--//============== / / / ==============//-->
  </div>
</section>
