<section class="subscribe container">
  <div class="subscribe-box" data-aos="fade-up" data-aos-duration="3000">
    <h2 class="subscribe__title">Subscribe to get the Latest News</h2>
    <p class="subscribe__title-description">
      We recommended you to subscribe to our newspaper,drop your email below to
      get daily update about us
    </p>
    <form class="subscribe__form">
      <input
        placeholder="Enter your email addres"
        type="text"
        class="subscribe__form-txt"
      />
      <button class="btn subscribe__btn">
        <svg class="svg" width="14" height="14">
          <use href="./images/svg/icons.svg#tg"></use></svg
        >Subscribe
      </button>
    </form>
  </div>
</section>
