<section class="team container">
  <!--//============== / / / ==============//-->
  <div class="team__info">
    <h2 class="team__title">Met Our Team</h2>
    <p class="team__title-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan
      nisi Ut ut felis congue nisl hendrerit commodo.
    </p>
  </div>
  <!--//============== / / / ==============//-->

  <div class="team__content">
    <ul class="squad__list">
      <li class="squad__item">
        <div class="squad__icon">
          <img class="squad__ava" src="./images/png/ava-one.png" alt="" />
        </div>
        <div class="squad__txt">
          <h3 class="squad__title">Sunny Khan</h3>
          <p class="squad__description">EXECUTIVE OFFICER</p>
        </div>

        <div class="squad__btn">
          <a class="squad__link" href="#"
            ><img src="./images/png/skype.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/linkedin.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/twitter.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/facebook.png" alt=""
          /></a>
        </div>
      </li>

      <li class="squad__item">
        <div class="squad__icon">
          <img class="squad__ava" src="./images/png/ava-two.png" alt="" />
        </div>
        <div class="squad__txt">
          <h3 class="squad__title">Alina Jesia</h3>
          <p class="squad__description">UX/UI DESIGNER</p>
        </div>

        <div class="squad__btn">
          <a class="squad__link" href="#"
            ><img src="./images/png/skype.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/linkedin.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/twitter.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/facebook.png" alt=""
          /></a>
        </div>
      </li>
      <li class="squad__item">
        <div class="squad__icon">
          <img class="squad__ava" src="./images/png/ava-three.png" alt="" />
        </div>
        <div class="squad__txt">
          <h3 class="squad__title">Alex Sohag</h3>
          <p class="squad__description">BUSINESS DEVELOPMENT</p>
        </div>

        <div class="squad__btn">
          <a class="squad__link" href="#"
            ><img src="./images/png/skype.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/linkedin.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/twitter.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/facebook.png" alt=""
          /></a>
        </div>
      </li>
      <li class="squad__item">
        <div class="squad__icon">
          <img class="squad__ava" src="./images/png/ava-four.png" alt="" />
        </div>
        <div class="squad__txt">
          <h3 class="squad__title">Afroza Mou</h3>
          <p class="squad__description">HEAD OF MARKETING</p>
        </div>

        <div class="squad__btn">
          <a class="squad__link" href="#"
            ><img src="./images/png/skype.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/linkedin.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/twitter.png" alt=""
          /></a>
          <a class="squad__link" href="#"
            ><img src="./images/png/facebook.png" alt=""
          /></a>
        </div>
      </li>
    </ul>
  </div>

  <!--//============== / / / ==============//-->
</section>
