.main__title {
  font-family: inherit;
  font-weight: 700;
  color: var(--white);
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 1.4;
}
.main {
  margin-bottom: 100px;
}
.main__title-description {
  text-align: center;
  max-width: 590px;
  font-weight: 400;
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  padding: 29px 0px 0px 0px;
  margin-bottom: 40px;
}

.main__info {
  margin-top: 63px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__content {
  margin-bottom: 118px;
}
.service__icon {
  margin: 37px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;

  border-radius: 50%;
}
.one {
  background: linear-gradient(var(--gradient-order-a), var(--gradient-order-b));
}
.two {
  background: linear-gradient(var(--gradient-social-a), var(--gradient-social-b));
}

.three {
  background: linear-gradient(var(--gradient-crypto-a), var(--gradient-crypto-b));
}
.four {
  background: linear-gradient(var(--gradient-smart-a), var(--gradient-smart-b));
}
.five {
  background: linear-gradient(var(--gradient-analyzer-a), var(--gradient-analyzer-b));
}
.six {
  background: linear-gradient(var(--gradient-module-a), var(--gradient-module-b));
}
.sevice__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service__title {
  font-family: inherit;
  margin: 19px 0px 19px 0px;
  font-weight: 500;
  color: var(--white);
  font-size: 24px;
  line-height: 1.3;
}

.service__description {
  color: var(--white);
  font-size: 16px;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.sevice__btn {
  margin: 24px 0px 24px 0px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sevice__link {
  color: var(--white);

  &:hover {
    color: var(--gradient-order-a);
    transition: 0.5s;
  }
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service__item {
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 34px;
  border: 0.3px solid rgba(254, 254, 255, 0.09);
  background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) 0%, rgba(255, 255, 255, 0.02) 100%);
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  transition: all 0.5s;

  &:hover {
    .service__description {
      opacity: 1;
      transition: 0.5s;
    }
    .service__title {
      opacity: 0.7;
      transition: 0.5s;
    }
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
  }
}
